<div class="container-fluid">

  <!-- mobile -->
  <mat-card fxHide.gt-sm="true" fxHide.sm="true">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="registerForm">
      <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="center">Check to create a donation center.</mat-checkbox>
      </section>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" formControlName="password" type="password"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Confirm Password" formControlName="confirm-password" type="password"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Surname" formControlName="surname"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="CNP" formControlName="id"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="!isCenter">
        <input matInput placeholder="Father initial" formControlName="fatherInitial"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Phone" formControlName="phone"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Fax (optional)" formControlName="fax"
          [errorStateMatcher]="matcher">
      </mat-form-field>
      <div>
        <mat-label>Address</mat-label>
        <mat-form-field class="full-width">
          <input matInput placeholder="Street" formControlName="street"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Number" formControlName="streetNumber"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Building" formControlName="building"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Block" formControlName="block"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Appartment" formControlName="appartment"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="City" formControlName="city"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="County" formControlName="county"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Country" formControlName="country"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Postal code" formControlName="postalCode"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <div *ngIf="isCenter">
        <mat-label>Center details</mat-label>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="centerName"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="IBAN" formControlName="iban"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Fiscal code" formControlName="fic"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit"  color="primary">Register</button>
      <!-- <div class="button-row">
        <p>Add ID card photo</p>
        <button mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        <input hidden type="file" accept="image/*" #imgFileInput (change)="processFile(imgFileInput)"/>
      </div>   -->
    </form>
  </mat-card>

  <!-- desktop -->
  <mat-card fxHide.lt-sm="true">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="registerForm">
      <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="center">Check to create a donation center.</mat-checkbox>
      </section>
      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Email" formControlName="email"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="desktop-width">
          <input matInput placeholder="CNP" formControlName="id"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Name" formControlName="name"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Surname" formControlName="surname"
            [errorStateMatcher]="matcher">
        </mat-form-field>        
        <mat-form-field class="father-init-width" *ngIf="!isCenter">
          <input matInput placeholder="FI" formControlName="fatherInitial"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Password" formControlName="password" type="password"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Confirm Password" formControlName="confirm-password" type="password"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Phone" formControlName="phone"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="desktop-width">
          <input matInput placeholder="Fax (optional)" formControlName="fax"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <div>
        <mat-label>Address</mat-label>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <mat-form-field class="street-width">
            <input matInput placeholder="Street" formControlName="street"
              [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="min-width">
            <input matInput placeholder="Number" formControlName="streetNumber"
              [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <mat-form-field class="min-width">
            <input matInput placeholder="Building" formControlName="building"
              [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="min-width">
            <input matInput placeholder="Block" formControlName="block"
              [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="min-width">
            <input matInput placeholder="Appartment" formControlName="appartment"
              [errorStateMatcher]="matcher">
          </mat-form-field>          
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <mat-form-field class="desktop-width">
            <input matInput placeholder="City" formControlName="city"
              [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="desktop-width">
            <input matInput placeholder="County" formControlName="county"
              [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <mat-form-field class="desktop-width">
            <input matInput placeholder="Country" formControlName="country"
              [errorStateMatcher]="matcher">
          </mat-form-field>
          <mat-form-field class="desktop-width">
            <input matInput placeholder="Postal code" formControlName="postalCode"
              [errorStateMatcher]="matcher">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="isCenter">
        <mat-label>Center details</mat-label>
        <mat-form-field class="desktop-full-width">
          <input matInput placeholder="Name" formControlName="centerName"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="desktop-full-width">
          <input matInput placeholder="IBAN" formControlName="iban"
            [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field class="desktop-full-width">
          <input matInput placeholder="Fiscal code" formControlName="fic"
            [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit"  color="primary">Register</button>
      <!-- <div class="button-row">
        <p>Add ID card photo</p>
        <button mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        <input hidden type="file" accept="image/*" #imgFileInput (change)="processFile(imgFileInput)"/>
      </div>   -->
    </form>      
  </mat-card>

</div>
