<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Your profile - {{user.center ? 'Center' : 'Donor'}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flow-text">
        <p>Email: {{user.email}}</p>
        <p>PIN: {{user.id}}</p>
        <p>Name: {{user.name}}</p>
        <p>Surname: {{user.surname}}</p>
        <p *ngIf="!user.center">Father initial: {{user.fatherInitial}}</p>
        <p>Phone: {{user.phone}}</p>
        <p>Fax: {{user.fax}}</p>
      </div>
      <div class="flow-text">
        <mat-card-title>Address</mat-card-title>
        <p>Street: {{user.street}}</p>
        <p>Number: {{user.streetNumber}}</p>
        <p>Building: {{user.building}}</p>
        <p>Block: {{user.block}}</p>
        <p>Appartment: {{user.appartment}}</p>
        <p>City: {{user.city}}</p>
        <p>County: {{user.county}}</p>
        <p>Country: {{user.country}}</p>
        <p>Postal code: {{user.postalCode}}</p>
      </div>
      <div *ngIf="user.center" class="flow-text">
        <mat-card-title>Center details</mat-card-title>
        <p>Name: {{user.centerName}}</p>
        <p>IBAN: {{user.iban}}</p>
        <p>Fiscal code: {{user.fic}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="edit()" color="primary">Edit</button>    
    </mat-card-actions>    
    <mat-card-actions *ngIf="!user.center">
      <button mat-raised-button (click)="donate()" color="primary">Donate</button>    
    </mat-card-actions>    
    <mat-card-actions *ngIf="user.center">
      <button mat-raised-button (click)="addReceivedDonation()" color="primary">Add received donation</button>   
    </mat-card-actions>
    <mat-card-actions *ngIf="user.center">   
      <button mat-raised-button (click)="createRequest()" color="primary">Add a request</button>    
    </mat-card-actions>
    <div *ngIf="user.center && requests && requests.length">
      <mat-card-title>Your requests</mat-card-title>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let request of requests">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Show items
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list *ngFor="let item of request.items">
            <h4 mat-line>{{item.category}}</h4>
            <p mat-line> {{item.description}} </p>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div>
      <mat-card-title>Your {{user.center ? 'received' : ''}} donations</mat-card-title>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let donation of donations">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Data: {{donation.date | date : "dd.MM.yyyy"}}
            </mat-panel-title>
            <mat-panel-description>
              {{donation.destination}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list *ngFor="let item of donation.items">
            <mat-list-item>Category: {{item.category.toUpperCase()}}</mat-list-item>
            <mat-list-item *ngIf="item.description">Description: {{item.description}}</mat-list-item>
            <mat-list-item *ngIf="item.sum">Amount: {{item.sum}} RON</mat-list-item>
            <mat-list-item *ngIf="item.name">Name: {{item.name}}</mat-list-item>
            <mat-list-item *ngIf="item.size">Size: {{item.size}}</mat-list-item>
            <mat-list-item *ngIf="item.sex">Sex: {{item.sex}}</mat-list-item>
            <mat-list-item *ngIf="item.type">Type: {{item.type}}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </mat-card>
</div>