mat-card-content {
    text-align: left;
}

.title {
    font-size: 20px;
}

mat-expansion-panel {
    text-align: left;
    background: #880E4F;
}

.profile-panel {
    width: 100%;
}

mat-card-title {
    text-align: center;
}

.actions {
    margin-top: 0 !important;
    margin-bottom: -4px;
}

mat-card-actions {
    margin: 0;
}

.mobile-button {
    width: 70%;
}

.mobile-div {
    min-height: 93vh;
}

.mobile-card {
    min-height: 93vh;
}

.user-details {
    width: 50%;
    margin: 0 10vw;
}

.desktop-title {
    text-align: left;
}

.desktop-main-title {
    text-align: center;
    font-size: 30px;
}

.desktop-button {
    min-width: 15%;
    margin: 0 8px !important;
}