<agm-map 
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)">

<agm-marker 
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window style="color: black !important">
        {{m.title}}
      </agm-info-window>

</agm-marker>

<agm-circle [latitude]="lat" [longitude]="lng" 
[radius]="5000"
[fillColor]="'red'"
[circleDraggable]="true"
[editable]="true"
(radiusChange)="radiusChanged($event)"
(dragEnd)="circleDragEnd($event)">
</agm-circle>

</agm-map>


<mat-accordion *ngIf="centers">
  <mat-expansion-panel *ngFor="let center of centers">
    <mat-expansion-panel-header>
      <mat-panel-title style=" margin: auto;">
        {{center.centerName}}
        <!-- Data: {{donation.date | date : "dd.MM.yyyy"}} -->
      </mat-panel-title>
      <mat-panel-description>
        <a class="center" [href]="'tel:' + center.phone">Tel: {{center.phone}}</a>

        <a class="center" [href]="'mailto:' + center.email">Email: {{center.email}}</a>
      </mat-panel-description>
      <button mat-raised-button style="margin-right: 20px" color="primary" (click)="openDialog(center.lat, center.lon)">Directions</button>
      <button mat-raised-button style="margin-right: 50px" color="primary">Donate 2%</button>
    </mat-expansion-panel-header>
    <div *ngIf="requests">
      <mat-list  *ngFor="let item of filterRequests(center.email)">
        <h6 mat-line>{{item.category}}</h6>
        <p mat-line> {{item.description}} </p>
      </mat-list>
    </div>
    
  </mat-expansion-panel>
</mat-accordion>