<div class="container-fluid">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="loginForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" formControlName="email"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" formControlName="password" type="password"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <button mat-raised-button type="submit">Login</button>
  </form>
</div>
